/* Attempt to hide the default content of the <span class="flair" /> element. */
.flair, .link .flair {
  font-size:       $flair-size-reset;
  letter-spacing:  $flair-spacing-reset;
  color:           $flair-color-reset;
  width:           auto;
}

.flair:after {
=======
/* Reset the :before pseudoclass of the <span class="flair" /> element to something sensible. */
.flair:before {
  font-size:       $flair-size-display;
  letter-spacing:  $flair-spacing-display;
  color:           $flair-color-display;
  text-transform:  uppercase;
}
