$flair-color-reset:      white;
$flair-color-display:    black;

$flair-size-reset:        1px;
$flair-size-display:     10px;

$flair-spacing-reset:    -1px;
$flair-spacing-display:  normal;

$flair-max-levels: 1;
// $flair-languages: en de fr eo es pt ru jp it ro hu pl tr ga nl hi cs vi el ko id zh ar;
$flair-languages: en nl pt de fr es tr ru hu pl ro ga it;

// $flair-language-separator: "→";
// $flair-language-separator: "-";
// $flair-language-separator: ">";
